@import "./Style/header.css";

@import "./Style/main.css";

@import "./Style/section.css";

@import "./Style/search.css";

@import "./Style/Skills.css";

@import "./Style/redes.css";

@import "./Style/projetos.css";