main {display: grid;
grid-template-columns: 1fr 1fr;
justify-items: center;
margin-top: 150px;
align-items: center;}

#MyProfile {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

#fé {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-self: start;
}



.flex-fe{display: flex;
flex-direction: column;
font-family: "Poppins", sans-serif;
font-weight: 800;

}


.flex-fe>div>span {
font-size: 30px;
}

.flex-fe>div{display: flex;
align-items: end;
gap: 5px;}


.flex-fe>div>h1{
font-size: 50px;
line-height: 60px;
}


.title-full::before {
    content: "Full-stack";
    animation: back 6s infinite;
    height: 100%;
    background: 100%;
}


.title-full{display: inline-block;
margin: 0;
color: rgb(20, 28, 104);
}


@keyframes escrita {
    0%,
    50%,
    100% {border-right: 2px solid transparent;
    }
    25%,
    75% {border-right: 2px solid var(--cor-p1);
    }
}


@keyframes back {
    0%,
    20% {
        content: "Back-end";
    }
    41%,
    60% {
        content: "Front-end";
    }
}



@media(max-width:1145px){
    main{
        justify-items: center;
        margin-top: 150px;
        align-items: center;
       }
       #fé {justify-self: center;}
       .flex-fe>div{flex-wrap: wrap;}
    }





@media (max-width:949px)
{
    main{display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 150px;
        align-items: center;
       }
       #fé {justify-self: center;}
       .flex-fe{align-items: center;
       }
   }



@media(max-width:580px){
    .flex-fe>div{flex-wrap: wrap;
    align-items: center;}
    .flex-fe>div>h1{
        font-size: 40px;
        line-height: 35px;
        }
        .flex-fe>div>span {
            font-size: 20px;
            }
            #fé {
                font-size: 30px;
            }
            
    }

    @media(max-width:515px){
        .flex-fe>div{flex-wrap: wrap;
        align-items: center;}
        .flex-fe>div>h1{
            font-size: 35px;
            line-height: 35px;
            }
            .flex-fe>div>span {
                font-size: 25px;
                }
        }


