section {margin-top: 15vh;}

#sobreMim {
display: flex;
flex-direction: column;
align-items: center;
height: 35vh;
width: 80%;
background-color: #64799bbe;;
margin-left: auto;
margin-right: auto;
}


#sobreMim>h3 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
font-weight: 100px;
align-items: start;
margin-top: -1px;
position: relative;
}


#sobreMim>h3::before{
content: '';
bottom: 0;
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 50px;
height: 3px;
background: #007bff;}


#sobreMim>div {margin-top: 4%;
font-size: 18px;
text-align: center;
align-items: center;
justify-content: center;
}


@media (max-width:430px){
    #sobreMim>div {font-size: 16px;}    
}




